@CHARSET "UTF-8";

/*
* {
	border: 1px solid red;
}
*/

a {
	text-decoration: none;
}

a img {
	border-style: none;
}

.onright {
	float: right;
}

.onleft {
	float: left;
}

.centred {
	width: 100%;
	text-align: center;
}
