@CHARSET "UTF-8";

a {
	text-decoration: none;
}

a img {
	border-style: none;
}

[data-valign] {
	border: 5px dashed red;
	border: 10px dashed rgba(255,0,0,0.2);
	padding: 5px;
}

.valign-wrapper {
	position: relative;
	height: 15em;
	border: 1px solid blue;
	margin: 5px;
}

.shrinkwrap {
	float: left;
}

/* Prevent FOUC */
html.js [data-valign] {
	visibility: hidden;
}
